@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
.Padre{
  background-image: url("../IMG/imagen2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.Hija{
  background: rgb(255, 255, 255, 0.3);
  display:flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
  height: 70%;
  border-radius: 1rem;
  gap: 12px;
}
.Hija img{
  width: 9rem;
  height: 9rem;
  min-width: none;
  min-height: auto;
}
.Hija h1{
  font-size: 4rem;
  color: rgb(255, 255, 255);
}
.Hija input{
  width: 20rem;
  height: 3rem;
  border: none;
  outline: none;
  border-bottom:2px solid red ;
  background: none;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(0, 0, 0, 1);
}

.Hija input::placeholder{
  color:white;
}

.Hija button{
  border:0.5px solid;
  border-radius: 1rem;
  background-color: rgb(250, 115, 70);
  color: rgb(255, 255, 255);
  height: 3em;
  width: 10em;
  cursor: pointer;
  font-weight: 700;
}

#Persona{
  padding: 5px;
  height: 3.5rem;
  width: 15rem;
  margin-bottom: 1rem;
}